h1 {
    text-align: center;
}

#content {
    width: 90%;
    margin: auto;
}


#contact-form label {
    font-size: 18px;
    width: 30%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#contact-form input[type=text], textarea {
    width: 50%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid;
    margin-left: 25%;
}

#contact-form textarea {
    height: 100px;
}

#contact-form input[type=submit] {
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 7px;
    font-size: 18px;
}

#contact-form div:last-child {
    text-align: center;
}

#other-contact {
    margin-top: 50px;
    border: 1px solid;
}

#other-contact p {
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
    .form-row {
        flex-direction: column;
    }

    .form-row label {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 10px;
    }

    .form-row input, .form-row textarea {
        margin-left: 25%;
    }
}