#pg-main {
    margin: 3em 1em
}

.product {
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border: 1px solid;
}

.product p {
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}